
.gitattributes
.vs/GetSystemInfo/v16/.suo
.vs/GetSystemInfo/v16/Browse.VC.db
.vs/GetSystemInfo/v16/Browse.VC.db-shm
.vs/GetSystemInfo/v16/Browse.VC.db-wal
.vs/GetSystemInfo/v16/Browse.VC.opendb
.vs/GetSystemInfo/v16/ipch/AutoPCH/186d56ce4987e751/CMD.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/22ed74c66204a63f/DATAREADER.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/2c1f7db94bb51c5a/DATAREADER.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/3163ed3ec83cdcd9/MAIN.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/3a66d5ded93deac8/GETSYSTEMINFO.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/4d8ab4126cb4eaa8/DEPRECATED.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/5e049c576105d0a9/DEPRECATED.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/5fa66815dae717d8/MAIN.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/68752e5760f3f449/GETSYSTEMINFO.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/b1dfcc783fd2f9e/REGISTRY.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/b6719ff1b14a0631/RTL_DDK.ipch
.vs/GetSystemInfo/v16/ipch/AutoPCH/c6d15c168ac04f8b/GETSYSADDR.ipch
Debug/CMD.obj
Debug/CodeAnalysisResultManifest.txt
Debug/CPUData.csv
Debug/DataReader.obj
Debug/Deprecated.obj
Debug/DesktopNames.csv
Debug/GetSysAddr.obj
Debug/GetSystemInfo.Build.CppClean.log
Debug/GetSystemInfo.exe
Debug/GetSystemInfo.exe.embed.manifest
Debug/GetSystemInfo.exe.embed.manifest.res
Debug/GetSystemInfo.exe.recipe
Debug/GetSystemInfo.ilk
Debug/GetSystemInfo.log
Debug/GetSystemInfo.pdb
Debug/GetSystemInfo.tlog/CL.command.1.tlog
Debug/GetSystemInfo.tlog/CL.read.1.tlog
Debug/GetSystemInfo.tlog/CL.write.1.tlog
Debug/GetSystemInfo.tlog/GetSystemInfo.lastbuildstate
Debug/GetSystemInfo.tlog/link.command.1.tlog
Debug/GetSystemInfo.tlog/link.read.1.tlog
Debug/GetSystemInfo.tlog/link.write.1.tlog
Debug/GetSystemInfo.tlog/rc.command.1.tlog
Debug/GetSystemInfo.tlog/rc.read.1.tlog
Debug/GetSystemInfo.tlog/rc.write.1.tlog
Debug/GetSystemInfo.vcxproj.FileListAbsolute.txt
Debug/GetSystemInfo_manifest.rc
Debug/main.obj
Debug/NewProduct.csv
Debug/OldProduct.csv
Debug/Registry.obj
Debug/ServerNames.csv
Debug/vc142.idb
Debug/vc142.pdb
0.tmp
